body
{
	/* Background pattern from subtlepatterns.com */
	/*background-image: url("img/hexellence.png");*/
	font-size: 20px;
	font-family: 'Montserrat';
}

#loginStatusContainer{
        animation: shake 0.5s;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color: red;
    	width: 400px;
    	width: 400px;
    	height: 80px;
    	margin: auto;
    	margin-top: 120px;
    	margin-bottom: 5px;
    	border-radius: 10px;
    	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    	-moz-box-shadow: 5px 5px 33px 8px rgba(204,204,204,0.9);
    	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

#container
{
	background-color: rgb(12,28,73);
	width: 300px;
	padding: 50px;
	margin: auto;
	margin-top: 30px;
	border-radius: 5%;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 5px 5px 33px 8px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}



#emptyContainer
{
    width: 300px;
    height: 10px;
    padding: 50px;
    margin: auto;
    margin-bottom: 112px;
    background-color: white;
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: black;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid rgb(20,48,93);
	background-color: #e9f3e9;
	color: rgb(10,10,10);
}

input[type=submit]
{
	width: 300px;
	background-color: rgb(247,100,70);
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: rgb(210,40,20);
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #ffffff;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #ffffff;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #ffffff;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: rgb(240,250,250);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}